.main-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    align-self: center;
    -unity-text-align: middle-center;
    -unity-font: url('project://database/Assets/BackwoodsLife/Res/Fonts/Dosis/Dosis-Bold.ttf?fileID=12800000&guid=22ec7a19c145b4a4788639f48c32710b&type=3#Dosis-Bold');
    width: 100%;
    height: 100%;
    background-color: rgba(164, 164, 164, 0.71);
    flex-grow: 1;
}
